
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$mat-brown: (
    50: #EFEBE9,
  100: #D7CCC8,
  200: #BCAAA4,
  300: #A1887F,
  400: #8D6E63,
  500: #795548,
  600: #6D4C41,
  700: #5D4037,
  800: #4E342E,
  900: #3E2723,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$github-explore-primary: mat-palette($mat-brown);
$github-explore-accent: mat-palette($mat-brown);

// The warn palette is optional (defaults to red).
$github-explore-warn: mat-palette($mat-brown);

// Create the theme object (a Sass map containing all of the palettes).
$github-explore-theme: mat-light-theme($github-explore-primary, $github-explore-accent, $github-explore-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($github-explore-theme);

